<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" context="width=device-width, initial=scale=1.0">
    <title>RAG_MED</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

</head>

<body>
    <div class="main-div">
        <h1>RAG_MED</h1>
        <input type="text" id="userInput" placeholder="Type something..." />
        <button class="submit-button">Submit</button>

        <div class="response-div">
            <div id="response1" class="response-box">Response 1 will appear here</div>
            <div id="response2" class="response-box">Response 2 will appear here</div>
            <div id="response3" class="response-box">Response 3 will appear here</div>
        </div>
    </div>
</body>
</html>