<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" context="width=device-width, initial=scale=1.0">
    <title>RAG_MED</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

</head>

<body>
    <div class="wizard_div">
        <img src="../static/assets/Wizard.png" alt="wizard not found" class="wizard"> 
    </div>
    <div class="main-div">
        <h1>RAG_MED</h1>
        <input type="text" id="userInput" placeholder="Tell me what ails you..." />
        <button class="submit-button">Submit</button>

        <div class="response-div">
            <div id="response1" class="response-box">Medicine: This is the medicine recommended</div>
            <div id="response2" class="response-box">Reasoning: This is why it is recommended</div>
        </div>
    </div>
</body>
</html>
